# ==============================
# ENTORNOS VIRTUALES
# ==============================
venv/
.venv/
env/
ENV/

# ==============================
# PYTHON
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# ARCHIVOS TEMPORALES
# ==============================
*.tmp
*.temp
*.log

# ==============================
# IDE / EDITORES
# ==============================
.vscode/
.idea/

# ==============================
# SISTEMA OPERATIVO
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# YOLO / ULTRALYTICS
# ==============================
runs/
datasets/
dataset/
*.cache

# ==============================
# MODELOS PESADOS
# ==============================
*.pt
*.pth
*.onnx
!modelo/best.pt

# ==============================
# ARCHIVOS DE ENTORNO
# ==============================
.env
.env.*